import ComponentCategory from '../ng-doc.category';
import { FlowbiteDefaultComponent } from './_default.component';

import type { NgDocPage } from '@ng-doc/core';

/**
 * 
 */
const <%= className %>: NgDocPage = {
  title: '<%= className %>',
  mdFile: './index.md',
  category: ComponentCategory,
  order: <%= order %>,
  demos: {
    flowbiteDefaultComponent: FlowbiteDefaultComponent,
  },
};

export default <%= className %>;
