{
  "endOfLine": "lf",
  "singleQuote": true,
  "printWidth": 100,
  "trailingComma": "es5",
  "bracketSameLine": true,
  "plugins": ["prettier-plugin-packagejson", "@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^~/(.*)$",
    "^[.]",
    "",
    "(flowbite-angular|shiki)",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "<BUILTIN_MODULES>"
  ],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
