@import 'assets/styles/base.css';
@import 'assets/styles/dark.scss';

@config '../tailwind.config.js';

@tailwind base;

@layer base {
  ul,
  ol {
    list-style: revert;
    margin: revert;
    padding: revert;
  }

  @font-face {
    font-family: Inter;
    src: url('/assets/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
  }

  /* anchor */
  a.docs {
    @apply text-base font-medium underline text-gray-600 dark:text-gray-400 decoration-primary-600 dark:decoration-primary-500;
  }

  /* Heading */
  h1.docs {
    @apply text-3xl font-extrabold leading-tight text-gray-900 dark:text-white;
  }

  h2.docs {
    @apply text-2xl font-bold leading-tight text-gray-900 dark:text-white;
  }

  h3.docs {
    @apply text-xl font-bold leading-tight text-gray-900 dark:text-white;
  }

  h4.docs {
    @apply text-lg font-bold leading-tight text-gray-900 dark:text-white;
  }

  h5.docs {
    @apply text-base font-bold leading-tight text-gray-900 dark:text-white;
  }

  /* List */
  ul.docs {
    @apply text-base font-normal text-gray-600 dark:text-gray-400;
  }

  /* Paragraph */
  p.docs {
    @apply text-base font-normal text-gray-600 dark:text-gray-400;
  }

  p.docs.subtitle {
    @apply text-lg font-medium text-gray-700 dark:text-gray-400;
  }

  /* span */
  span.docs.highlight {
    @apply text-primary-600 dark:text-primary-500;
  }
}

@tailwind components;
@tailwind utilities;
