@config '../tailwind.config.js';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Inter;
    src: url('/assets/fonts/Inter-VariableFont_slnt,wght.ttf')
      format('truetype');
  }
}
