@import '~prismjs/themes/prism-tomorrow.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


pre.language-html {
  @apply rounded;
}

.markdown-clipboard-button {
  background-color: rgba(255, 255, 255, 0.07);
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-size: 11px;
  padding: 4px 0;
  width: 50px;
  transition: all 250ms ease-out;
}

.markdown-clipboard-button:hover {
  background-color: rgba(255, 255, 255, 0.14);
}

.markdown-clipboard-button:active {
  transform: scale(0.95);
}

.markdown-clipboard-button.copied {
  background-color: rgba(255, 255, 255, 0.14);
  color: #e2777a;
}
