:root {
  --ng-doc-primary: #ff2c51;
  --ng-doc-hover-background: #ff9ba8;
  --ng-doc-font-system: Inter;
}

ng-doc-tabs {
  border-radius: 0px !important;
  margin-top: 0px !important;
}

ng-doc-tab-group {
  border-radius: 0px !important;
}

.ng-doc-sidenav {
  padding-right: 24px !important;
}

.ng-doc-sidenav-content {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
