:root {
  --ng-doc-primary: #ff2c51;
  --ng-doc-hover-background: #ff9ba8;
}

ng-doc-tabs {
  border-radius: 0px !important;
  margin-top: 0px !important;
}

ng-doc-tab-group {
  border-radius: 0px !important;
}
